#covidTitle {
    /* margin-top: 150px !important; */
    color: firebrick !important
}

#table {
    text-align: center;
    position: relative;
    bottom: 50px;
}

.th {
    position: sticky;
    top: 0;
    font-weight: bolder;
    z-index: 1;
    background-color: firebrick !important;
    color: white
}

tr {
    z-index: 0;
}

.main {

}

.mapdiv{
  position: relative;
  bottom: 185px;
  text-align: center;
}

.img{
  border-radius: 80%;
  width: 1000px !important;
  height: 400px !important;
  text-align: center !important;
}

.img-box{
  position: relative;
  bottom: 260px;
  text-align: center;
}