.sidenav {
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 40px;
  left: 0px !important;
  height: 1000px !important;
  background: #eee;
  overflow-x: hidden;
  padding: 30px 0;
}

.sidenav a {
  padding: 20px 8px 20px 16px;
  text-decoration: none;
  font-size: 25px;
  text-decoration: none !important;
  color: gray !important;
  display: block;
}

.sidenav a:hover {
  text-decoration: none !important;
  color: white !important;
  background-color: firebrick !important;
}

.main {
  margin-left: 200px;
  /* Same width as the sidebar + left position in px */
  margin-right: 200px;
  font-size: 28px;
  /* Increased text to enable scrolling */
  top: 10px;
  left: 10px;
  padding: 100px 10px;
  color: gray !important
}

#confirm {
  background-color: firebrick !important;
  color: white !important;
  border-color: firebrick;
  margin-top: 20px;
}

#editBox {
  margin-left: 160px !important
}

#purchase {
  background-color: firebrick !important;
  color: white;
  border-color: firebrick;
}

#purchase:hover {
  zoom: 105%
}

#confirm:hover {
  zoom: 105%
}

#buttonDiv {
  text-align: center;
}

#navigation {
  margin: 0 auto !important;
  text-align: center !important;
}

.info {
  text-align: left !important;
  color: gray
}

.cartLink {
  text-decoration: none !important;
  /* font-size: 20px !important; */
  color: gray !important;
}

#minus{
  padding-top: 0px;
  padding-bottom: 0px !important;
  margin-right: 9px !important;
  background-color: white !important;
  border: .0003px solid firebrick;
  font-size: 20px
}

.tableTop{
  background-color: firebrick !important;
  color: white !important

}

#plus{
  padding-top: 0px;
  padding-bottom: 0px !important;
  margin-left: 8px !important;
  background-color: white !important;
  border: .0003px solid firebrick;
  font-size: 20px
}

#plus:hover{
  background-color: firebrick !important;
  color: white !important
}

#delete{
  padding-top: 0px;
  padding-bottom: 0px !important;
  margin-left: 10px !important;
  margin-bottom: 6px;
  background-color: white !important;
  border: .0003px solid firebrick;
  font-size: 20px;
  color: black
}

#delete:hover{
  background-color: firebrick !important;
  color: white !important
}

#minus:hover{
  background-color: firebrick !important;
  color: white !important
}

#yes {
  position: relative;
  top: 60px;
  /* margin-left: 70px; */
  color: white !important
}

#no {
  position: relative;
  top: 50px;
  /* margin-right: 70px */
}

.sure {
  font-size: 30px;
  text-align: center;
  margin-top: 130px
}

.cartLink:hover {
  color: firebrick !important
}

.form-floating {
  font-size: 16px !important;
}

.menu {
  /* margin-left: 18px; */
  padding: 20px 8px 20px 16px !important;
  font-size: 25px !important;
  color: gray !important
}

.menu:hover {
  text-decoration: none !important;
  color: white !important;
  background-color: firebrick !important;
  cursor: pointer
}

.black {
  color: black !important;
}

.tableBottom {
  background-color: firebrick !important;
  color: white !important
}

.customerInfo {
  margin-bottom: 20px
}

#update {
  position: relative;
  top: 60px;
  color: gray !important
}

.col-2 {
  margin-top: 20px
}

#update:hover {
  color: firebrick !important
}

#logout {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  text-decoration: none !important;
  color: gray !important;
  display: block;
}

#logout:hover {
  text-decoration: none !important;
  color: firebrick !important;
}

.fancyBox {
  background-color: rgb(182, 45, 45);
  height: 30px;
}

table {
  z-index: 1 !important;
  text-align: center;
  margin-top: 10px
}

#total {
  text-align: center;
  color: black !important
}

#history {
  margin-top: 30px
}

.cartData {
  color: gray !important
}

/* .cartHead{
  background-color: firebrick !important
} */
#editInfoBox {
  background-color: firebrick;
  height: 163px;
  color: white;
  text-align: center
}

#editInfoBox:hover {
  cursor: pointer
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}