#login-page{
    text-align: center;
    margin-top: 150px !important;
    margin: 0 auto;
}

#loginEye {
    position: relative;
    float:right;
    right: 10px;
    bottom: 28px;
    /* position: relative;
    left: 133px;
    bottom: 31.5px */
}

#loginEye:hover {
    color: firebrick;
    cursor: pointer;
}

h3{
    font-size: 40px
}

.eyeball-fix{
    position: relative;
}