#login-page{
    text-align: center;
    margin-top: 150px !important;
    margin: 0 auto;
}

#loginEye {
    /* position: absolute;
    top: 34.45%;
    right: 41.5%; */
    position: relative;
    left: 133px;
    bottom: 31.5px
}

#loginEye:hover {
    color: firebrick;
    cursor: pointer;
}

h3{
    font-size: 40px
}