.main {
  margin-left: 200px;
  /* Same width as the sidebar + left position in px */
  margin-right: 200px;
  font-size: 28px;
  /* Increased text to enable scrolling */
  top: 10px;
  left: 10px;
  padding: 100px 10px;
  color: gray;
}

.state:hover{
  fill: firebrick !important;
  cursor: pointer;
}

.state:focus{
  fill: firebrick !important;
 
}
.state:active{
  fill: firebrick !important;
}



