.jumbotron {
  margin-top: 60px
}

.title {
  color: gray;
  text-align: center;
  font-size: 60px !important;
  margin-top: 100px !important
}

.img {
  width: 300px;
  height: 220px;
}

.col-m-3 {
  margin: auto;
  margin-top: 30px;
}

.flexContainer {
  text-align: center
}

.addButton {
  background-color: firebrick;
  border-color: firebrick;
  color: white
}

.allMaskButton {
  background-color: firebrick;
  border-color: firebrick;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  height: 38px;
  width: 100px;
}
.img:hover {
  zoom: 101%;
  cursor: pointer
}
 
#dropdown-basic {
  background-color: firebrick !important;
  border-color: firebrick !important
}

.dropdown {
  text-align: center !important;
}



/* a {
  text-decoration: none !important;
  color: gray !important
} */

#customerMask {
  text-align: center;
  position: relative;
  right: 20px !important
}

#cost{
  margin-top: 55px
}

#quantity{
  width: 150px !important;
  text-align: center !important;
  margin: 0 auto;

}

#closeMask {
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  color: firebrick !important
}

#closeMask:hover {
  zoom: 101%;
}

.bold{
  font-family: Arial, sans-serif;
  font-size: 11pt;
}

.box-margin{
  margin-top: 10px;
  position: relative;
  left: 35px;
}

.colomn-top-margin{
  margin-top: 45px;
}

.cost-font{
  font-family: Arial, sans-serif;
  font-weight: bold;
  color:firebrick;
  
}

.box-width-menu{
  position: relative;
  margin: auto 0;
  width: 500px;
  text-align: center;
}